# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Env / tooling
.venv/
.vscode/
*.log
*~
.DS_Store
